.mat-form-field-appearance-outline.mat-focused{
    //mat-input focused border color
    .mat-form-field-outline-thick{
        color: #000 !important;
    }
    // mat-label focused style
    .mat-form-field-label{
        color: #000 !important;
    }
}

//mat-input height config
.mat-form-field-label-wrapper{
    top: -1.1em;
}
.mat-form-field-flex > .mat-form-field-infix{
    padding: 10px 0 !important;
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.3em) scale(.75);
}

.mat-form-field-suffix{
    top: -2px !important;
}

.mat-radio-button{
    margin: 16px !important;
    .mat-radio-container,  .mat-radio-outer-circle, .mat-radio-inner-circle{
        width: 25px !important;
        height: 25px !important;
    }
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: $primary-color; 
  }
  
.mat-radio-button.mat-accent .mat-radio-inner-circle{
color: $primary-color;
background: $primary-color;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background: $primary-color !important;
}
.editquiz{
    .mat-chip-list{
        position: relative !important;
        top: 10px;
    }
    .mat-chip{
        background: $primary-color;
        color: $color-white;
        font-weight: bold;
        min-height: 22px;
        margin: 8px 7px !important;
        &:last-child{
            background: $primary-color !important;
        }
    }
    .edit-mode{
        .mat-tab-header{
            pointer-events: none;
        }
    }
}
.mat-radio-label-content{
    white-space: pre-line;
}
.mat-checkbox-checked{
    .mat-checkbox-background{
        background: $primary-color !important;
    }
}

