<div class="_login">
  <section class="_auth">
     <div class="_content">
        <div class="img"></div>

        <div class="form-content">
           <h1 class="title">LOGIN</h1>
           <p class="access">Preencha os dados abaixo</p>

           <form [formGroup]="auth" action="" class="_auth--form">
              <mat-form-field appearance="outline">
                 <mat-label>Usuário</mat-label>
                 <input matInput formControlName="email" type="text" autocomplete="gs-login-admin" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                 <mat-label>Senha</mat-label>
                 <input matInput type="password" formControlName="senha" autocomplete="gs-login-admin-password"
                    id="password" name="senha" />
              </mat-form-field>

              <button type="submit" mat-button color="primary" (click)="doSignIn()">
                 ENTRAR
              </button>
           </form>
        </div>
     </div>
  </section>
</div>